<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Sample Payment</title>

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

    <script>
        var IMP = window.IMP;
        IMP.init("imp27504174");

        function requestPay() {
            IMP.request_pay({
                pg: $("#pg").val(),
                pay_method: $("#pay-method").val(),
                merchant_uid: "IMP" + new Date().getTime(),
                name: $('#amount option:selected').text(),
                amount: Number($("#amount").val()),
                buyer_email: $("#buyer-email").val(),
                buyer_name: $("#buyer-name").val(),
                buyer_tel: $("#buyer-tel").val()
            }, function (rsp) {
                // 결제 성공 시
                if (rsp.success) {
                    let data = {
                        impUid: rsp.imp_uid,
                        merchantUid: rsp.merchant_uid,
                        pg: rsp.pg,
                        payMethod: rsp.pay_method,
                        productName: rsp.name,
                        amount: rsp.amount,
                        buyerEmail: rsp.buyer_email,
                        buyerName: rsp.buyer_name,
                        buyerPhone: rsp.buyer_tel
                    };

                    // 서버로 해당 정보로 검증 및 주문서 생성 요청
                    $.ajax({
                        type: "POST",
                        url: 'api/v1/payments/validation',
                        data: JSON.stringify(data),
                        contentType: "application/json",
                        dataType: "json",

                        success: function (result) {
                            $.ajax({
                                type: "POST",
                                url: 'api/v1/payments',
                                data: JSON.stringify(data),
                                contentType: "application/json",
                                dataType: "json",

                                success: function (result) {
                                    alert("결제 검증 완료");
                                },

                                error: function (result) {
                                    console.log(jqXHR.status + ", " + textStatus + ", " + errorThrown);
                                    alert("3. 결제 실패 : " + jqXHR.status + ", " + errorThrown);
                                }
                            });
                        },

                        error: function (result) {
                            console.log(jqXHR.status + ", " + textStatus + ", " + errorThrown);
                            alert("2. 결제 실패 : " + jqXHR.status + ", " + errorThrown);
                        }
                    });
                } else {
                    // 결제 실패 시,
                    console.log(rsp);
                    alert('1. 결제 실패 : ' + rsp.error_msg);
                }
            });
        }
    </script>
</head>
<body>
이름: <input type="text" id="buyer-name" value="hhj"><br>
이메일: <input type="text" id="buyer-email" value="example@naver.com"><br>
전화번호: <input type="text" id="buyer-tel" value="010-1717-1237"><br>

구매할 쿠키 갯수 :
<select id='amount'>
    <option value='1000'>쿠키 10개</option>
    <option value='2000'>쿠키 20개</option>
    <option value='3000'>쿠키 30개</option>
    <option value='5000'>쿠키 50개</option>
    <option value='10000'>쿠키 100개</option>
</select> (개당 100원) <br>

결제 방법:
<select id='pay-method'>
    <option value='card'>카드</option>
</select><br>

결제사:
<select id='pg'>
    <option value='kcp'>KG이니시스</option>
</select><br><br>

<button onclick="requestPay()">결제하기</button>
</body>
</html>
