<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Sample Payment</title>

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

    <script>
        var IMP = window.IMP;
        IMP.init("imp27504174");

        function requestPay() {
            IMP.request_pay({
                pg: $("#pg").val(),
                pay_method: $("#pay-method").val(),
                merchant_uid: "IMP" + new Date().getTime(),
                name: '쿠키',
                amount: Number($("#amount").val()),
                buyer_email: $("#buyer-email").val(),
                buyer_name: $("#buyer-name").val(),
                buyer_tel: $("#buyer-tel").val()
            }, function (rsp) {
                // 결제 성공 시
                if (rsp.success) {
                    console.log(rsp);
                    uid = rsp.imp_uid;

                    // 서버로 해당 정보로 검증 및 주문서 생성 요청
                    $.ajax({
                        url: '/api/v1/payments/' + rsp.imp_uid,
                        method: 'POST',
                        contentType: "application/json",
                        data: JSON.stringify({
                            imp_uid: rsp.imp_uid,
                            pg: rsp.pg,
                            pay_method: rsp.pay_method,
                            merchant_uid: rsp.merchant_uid,
                            name: rsp.name,
                            amount: rsp.amount,
                            buyer_email: rsp.buyer_email,
                            buyer_name: rsp.buyer_name,
                            buyer_tel: rsp.buyer_tel
                        })
                    }).done(function (data) {
                        // 검증 및 주문서 생성 성공 시 실행될 로직
                        alert("결제 성공");
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        // 검증 및 주문서 생성 실패 시 실행될 로직
                        console.log(jqXHR.status + ", " + textStatus + ", " + errorThrown);
                        alert("2. 결제 실패: " + jqXHR.status + ", " + errorThrown);
                    });
                } else {
                    // 결제 실패 시,
                    console.log(rsp);
                    alert('1. 결제 실패' + rsp.error_msg);
                }
            });
        }
    </script>
</head>
<body>
이름: <input type="text" id="buyer-name" value="hhj"><br>
이메일: <input type="text" id="buyer-email" value="example@naver.com"><br>
전화번호: <input type="text" id="buyer-tel" value="010-1717-1237"><br>

상품:
<select id='amount'>
    <option value='1000'>쿠키 10개 - 1000원</option>
    <option value='2000'>쿠키 20개 - 2000원</option>
    <option value='3000'>쿠키 30개 - 3000원</option>
    <option value='5000'>쿠키 50개 - 5000원</option>
    <option value='10000'>쿠키 100개 - 10000원</option>
</select><br>

결제 방법:
<select id='pay-method'>
    <option value='card'>카드</option>
</select><br>

결제사:
<select id='pg'>
    <option value='kcp'>KG이니시스</option>
</select><br><br>

<button onclick="requestPay()">결제하기</button>
</body>
</html>
